<header>
    <nav class="navheader">
        <div>
            <a class="{% if categories is defined and categories == 'Présentation' %}active{% endif %}" href="#Présentation">Présentation </a>
        </div>
        <div>
            <a class="{% if categories is defined and categories == 'Pourquoi venir?' %}active{% endif %}" href="#Pourquoi venir?">Pourquoi <strong>venir</strong></a>
        </div>
        <div>
            <a class="{% if categories is defined and categories == 'Méthodes' %}active{% endif %}" href="#Méthodes">Méthodes</a>
        </div>
        <div>
            <a class="{% if categories is defined and categories == 'Tarifs' %}active{% endif %}" href="#Tarifs">Tarifs</a>
        </div>
        <div><a href="{{ path('article_index') }}#infos">Infos <strong>utiles</strong></a></div>
        <div><a href="{{ path('article_index') }}#reservation">Réservation</a></div>
        {% if is_granted('ROLE_ADMIN') %}
        <div><a href="{{ path('app_logout') }}">Deconnexion</a></div>
        {% endif %}
    </nav>
</header>