{% extends 'base.html.twig' %}

{% block title %}Éditer un article{% endblock %}

{% block body %}
    <h1>Éditer un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="buttonadmin" href="{{ path('article_index') }}">Retour</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
